[submodule "resources/ml_bert"]
	path = resources/nlp/ml_bert
	url = https://github.com/aespresso/a_journey_into_math_of_ml.git
[submodule "resources/nmt"]
	path = resources/nlp/nmt
	url = https://github.com/tensorflow/nmt.git
[submodule "resources/fastai"]
	path = resources/fastai
	url = https://github.com/fastai/fastai.git
[submodule "resources/fastai-course-v3"]
	path = resources/nlp/fastai-course-v3
	url = https://github.com/fastai/course-v3.git
[submodule "resources/transformers"]
	path = resources/nlp/transformers
	url = https://github.com/huggingface/transformers.git
[submodule "resources/DeepSpeed"]
	path = resources/nlp/DeepSpeed
	url = https://github.com/microsoft/DeepSpeed.git
[submodule "resources/Megatron-LM"]
	path = resources/nlp/Megatron-LM
	url = https://github.com/NVIDIA/Megatron-LM.git
[submodule "resources/GPT2-Chinese"]
	path = resources/nlp/GPT2-Chinese
	url = https://github.com/Morizeyao/GPT2-Chinese.git
[submodule "resources/pytorch-examples"]
	path = resources/pytorch-examples
	url = https://github.com/pytorch/examples.git
[submodule "resources/gpt-2-simple"]
	path = resources/nlp/gpt2-simple
	url = https://github.com/minimaxir/gpt-2-simple.git
[submodule "resources/gpt2-bert-bot"]
	path = resources/nlp/gpt2-bert-bot
	url = https://github.com/lots-of-things/gpt2-bert-reddit-bot.git
[submodule "resources/textgenrnn"]
	path = resources/nlp/textgenrnn
	url = https://github.com/minimaxir/textgenrnn.git
[submodule "resources/allennlp"]
	path = resources/nlp/allennlp
	url = https://github.com/allenai/allennlp.git
[submodule "resources/allennlp-example"]
	path = resources/nlp/allennlp-example
	url = https://github.com/allenai/allennlp-as-a-library-example.git
[submodule "resources/ml-nlp"]
	path = resources/nlp/ml-nlp
	url = https://github.com/NLP-LOVE/ML-NLP.git
[submodule "resources/ChatterBot"]
	path = resources/ChatterBot
	url = https://github.com/gunthercox/ChatterBot.git
[submodule "resources/nlp-architect"]
	path = resources/nlp/nlp-architect
	url = https://github.com/NervanaSystems/nlp-architect.git
[submodule "resources/hanlp"]
	path = resources/nlp/hanlp
	url = https://github.com/hankcs/HanLP.git
[submodule "resources/gpt2-ml"]
	path = resources/nlp/gpt2-ml
	url = https://github.com/imcaspar/gpt2-ml.git
[submodule "resources/pynlp"]
	path = resources/nlp/pynlp
	url = https://github.com/sliderSun/pynlp.git
[submodule "resources/Chinese-XLNet"]
	path = resources/nlp/Chinese-XLNet
	url = https://github.com/ymcui/Chinese-XLNet.git
[submodule "resources/Chinese-BERT-wwm"]
	path = resources/nlp/Chinese-BERT-wwm
	url = https://github.com/ymcui/Chinese-BERT-wwm.git
[submodule "resources/Chinese-ELECTRA"]
	path = resources/nlp/Chinese-ELECTRA
	url = https://github.com/ymcui/Chinese-ELECTRA.git
[submodule "resources/xgboost"]
	path = resources/nlp/xgboost
	url = https://github.com/dmlc/xgboost.git
[submodule "resources/nlp/keras-bert"]
	path = resources/nlp/keras-bert
	url = https://github.com/CyberZHG/keras-bert.git
[submodule "resources/bert4keras"]
	path = resources/bert4keras
	url = https://github.com/bojone/bert4keras.git
[submodule "resources/bertviz"]
	path = resources/bertviz
	url = https://github.com/jessevig/bertviz.git
[submodule "resources/DeepCTR"]
	path = resources/DeepCTR
	url = https://github.com/shenweichen/DeepCTR.git
[submodule "resources/DeepCTR-Torch"]
	path = resources/DeepCTR-Torch
	url = https://github.com/shenweichen/DeepCTR-Torch.git
[submodule "resources/nlp/sentence-transformers"]
	path = resources/nlp/sentence-transformers
	url = https://github.com/UKPLab/sentence-transformers.git
[submodule "resources/nlp/nlp-with-pyhon"]
	path = resources/nlp/nlp-with-pyhon
	url = https://github.com/susanli2016/NLP-with-Python.git
[submodule "resources/DialoGPT"]
	path = resources/DialoGPT
	url = https://github.com/microsoft/DialoGPT.git
[submodule "resources/mlflow"]
	path = resources/mlflow
	url = https://github.com/mlflow/mlflow.git
[submodule "resources/twine"]
	path = resources/twine
	url = https://github.com/pypa/twine.git
[submodule "resources/nlp/bert4keras"]
	path = resources/nlp/bert4keras
	url = https://github.com/bojone/bert4keras.git
[submodule "resources/trax"]
	path = resources/trax
	url = https://github.com/google/trax.git
[submodule "resources/apex"]
	path = resources/apex
	url = https://github.com/NVIDIA/apex.git
[submodule "resources/nlp/fairseq"]
	path = resources/nlp/fairseq
	url = https://github.com/pytorch/fairseq.git
[submodule "resources/streamlit"]
	path = resources/streamlit
	url = https://github.com/streamlit/streamlit.git
[submodule "resources/ParlAI"]
	path = resources/ParlAI
	url = https://github.com/facebookresearch/ParlAI.git
[submodule "resources/nlp/HarvestText"]
	path = resources/nlp/HarvestText
	url = https://github.com/blmoistawinde/HarvestText.git
[submodule "resources/DeepLearningExamples"]
	path = resources/DeepLearningExamples
	url = https://github.com/NVIDIA/DeepLearningExamples.git
[submodule "resources/fastbook"]
	path = resources/fastbook
	url = https://github.com/fastai/fastbook.git
[submodule "resources/nlp/spacy-transformers"]
	path = resources/nlp/spacy-transformers
	url = https://github.com/explosion/spacy-transformers.git
[submodule "resources/nlp/TurboTransformers"]
	path = resources/nlp/TurboTransformers
	url = https://github.com/Tencent/TurboTransformers.git
[submodule "resources/DALI"]
	path = resources/DALI
	url = https://github.com/NVIDIA/DALI.git
[submodule "resources/TensorRT"]
	path = resources/TensorRT
	url = https://github.com/NVIDIA/TensorRT.git
