[submodule "resources/ml_bert"]
	path = resources/nlp/ml_bert
	url = https://github.com/aespresso/a_journey_into_math_of_ml.git
[submodule "resources/nmt"]
	path = resources/nlp/nmt
	url = https://github.com/tensorflow/nmt.git
[submodule "resources/fastai-course-v3"]
	path = resources/nlp/fastai-course-v3
	url = https://github.com/fastai/course-v3.git
[submodule "resources/Megatron-LM"]
	path = resources/nlp/Megatron-LM
	url = https://github.com/NVIDIA/Megatron-LM.git
[submodule "resources/GPT2-Chinese"]
	path = resources/nlp/GPT2-Chinese
	url = https://github.com/Morizeyao/GPT2-Chinese.git
[submodule "resources/pytorch-examples"]
	path = resources/pytorch-examples
	url = https://github.com/pytorch/examples.git
[submodule "resources/gpt-2-simple"]
	path = resources/nlp/gpt2-simple
	url = https://github.com/minimaxir/gpt-2-simple.git
[submodule "resources/gpt2-bert-bot"]
	path = resources/nlp/gpt2-bert-bot
	url = https://github.com/lots-of-things/gpt2-bert-reddit-bot.git
[submodule "resources/textgenrnn"]
	path = resources/nlp/textgenrnn
	url = https://github.com/minimaxir/textgenrnn.git
[submodule "resources/allennlp-example"]
	path = resources/nlp/allennlp-example
	url = https://github.com/allenai/allennlp-as-a-library-example.git
[submodule "resources/ml-nlp"]
	path = resources/nlp/ml-nlp
	url = https://github.com/NLP-LOVE/ML-NLP.git
[submodule "resources/ChatterBot"]
	path = resources/ChatterBot
	url = https://github.com/gunthercox/ChatterBot.git
[submodule "resources/gpt2-ml"]
	path = resources/nlp/gpt2-ml
	url = https://github.com/imcaspar/gpt2-ml.git
[submodule "resources/pynlp"]
	path = resources/nlp/pynlp
	url = https://github.com/sliderSun/pynlp.git
[submodule "resources/Chinese-XLNet"]
	path = resources/nlp/Chinese-XLNet
	url = https://github.com/ymcui/Chinese-XLNet.git
[submodule "resources/Chinese-BERT-wwm"]
	path = resources/nlp/Chinese-BERT-wwm
	url = https://github.com/ymcui/Chinese-BERT-wwm.git
[submodule "resources/Chinese-ELECTRA"]
	path = resources/nlp/Chinese-ELECTRA
	url = https://github.com/ymcui/Chinese-ELECTRA.git
[submodule "resources/xgboost"]
	path = resources/nlp/xgboost
	url = https://github.com/dmlc/xgboost.git
[submodule "resources/nlp/keras-bert"]
	path = resources/nlp/keras-bert
	url = https://github.com/CyberZHG/keras-bert.git
[submodule "resources/bert4keras"]
	path = resources/bert4keras
	url = https://github.com/bojone/bert4keras.git
[submodule "resources/bertviz"]
	path = resources/bertviz
	url = https://github.com/jessevig/bertviz.git
[submodule "resources/DeepCTR"]
	path = resources/DeepCTR
	url = https://github.com/shenweichen/DeepCTR.git
[submodule "resources/DeepCTR-Torch"]
	path = resources/DeepCTR-Torch
	url = https://github.com/shenweichen/DeepCTR-Torch.git
[submodule "resources/nlp/sentence-transformers"]
	path = resources/nlp/sentence-transformers
	url = https://github.com/UKPLab/sentence-transformers.git
[submodule "resources/nlp/nlp-with-pyhon"]
	path = resources/nlp/nlp-with-pyhon
	url = https://github.com/susanli2016/NLP-with-Python.git
[submodule "resources/DialoGPT"]
	path = resources/DialoGPT
	url = https://github.com/microsoft/DialoGPT.git
[submodule "resources/twine"]
	path = resources/twine
	url = https://github.com/pypa/twine.git
[submodule "resources/nlp/bert4keras"]
	path = resources/nlp/bert4keras
	url = https://github.com/bojone/bert4keras.git
[submodule "resources/apex"]
	path = resources/apex
	url = https://github.com/NVIDIA/apex.git
[submodule "resources/nlp/fairseq"]
	path = resources/nlp/fairseq
	url = https://github.com/pytorch/fairseq.git
[submodule "resources/streamlit"]
	path = resources/streamlit
	url = https://github.com/streamlit/streamlit.git
[submodule "resources/nlp/HarvestText"]
	path = resources/nlp/HarvestText
	url = https://github.com/blmoistawinde/HarvestText.git
[submodule "resources/DeepLearningExamples"]
	path = resources/DeepLearningExamples
	url = https://github.com/NVIDIA/DeepLearningExamples.git
[submodule "resources/fastbook"]
	path = resources/fastbook
	url = https://github.com/fastai/fastbook.git
[submodule "resources/nlp/spacy-transformers"]
	path = resources/nlp/spacy-transformers
	url = https://github.com/explosion/spacy-transformers.git
[submodule "resources/nlp/TurboTransformers"]
	path = resources/nlp/TurboTransformers
	url = https://github.com/Tencent/TurboTransformers.git
[submodule "resources/DALI"]
	path = resources/DALI
	url = https://github.com/NVIDIA/DALI.git
[submodule "resources/TensorRT"]
	path = resources/TensorRT
	url = https://github.com/NVIDIA/TensorRT.git
[submodule "resources/DeepMatch"]
	path = resources/DeepMatch
	url = https://github.com/shenweichen/DeepMatch.git
[submodule "resources/Question-Answering-Albert-Electra"]
	path = resources/Question-Answering-Albert-Electra
	url = https://github.com/renatoviolin/Question-Answering-Albert-Electra.git
[submodule "resources/nlp/bert-summarizer"]
	path = resources/nlp/bert-summarizer
	url = https://github.com/dmmiller612/bert-extractive-summarizer.git
[submodule "resources/nlp/onnxruntime-training-examples"]
	path = resources/nlp/onnxruntime-training-examples
	url = https://github.com/microsoft/onnxruntime-training-examples.git
[submodule "resources/onnx-tutorials"]
	path = resources/onnx-tutorials
	url = https://github.com/onnx/tutorials.git
[submodule "resources/nlp/fast-brert"]
	path = resources/nlp/fast-brert
	url = https://github.com/kaushaltrivedi/fast-bert.git
[submodule "resources/awesome-streamlit"]
	path = resources/awesome-streamlit
	url = https://github.com/MarcSkovMadsen/awesome-streamlit.git
[submodule "resources/fastai-book"]
	path = resources/fastai-book
	url = https://github.com/fastai/fastbook.git
[submodule "resources/nlp/bertsum-chinese"]
	path = resources/nlp/bertsum-chinese
	url = https://github.com/425776024/bertsum-chinese.git
[submodule "resources/nlp/bertsum-chinese-LAI"]
	path = resources/nlp/bertsum-chinese-LAI
	url = https://github.com/Machine-Tom/bertsum-chinese-LAI.git
[submodule "resources/nlp/bertsum"]
	path = resources/nlp/bertsum
	url = https://github.com/nlpyang/BertSum.git
[submodule "resources/nlp/pegasus"]
	path = resources/nlp/pegasus
	url = https://github.com/google-research/pegasus.git
[submodule "resources/corejava"]
	path = resources/corejava
	url = https://github.com/yizutianya/corejava.git
[submodule "resources/PRML"]
	path = resources/PRML
	url = https://github.com/ctgk/PRML.git
[submodule "resources/open-ai-tasks"]
	path = resources/open-ai-tasks
	url = https://github.com/StevenLei2017/AI_projects.git
[submodule "resources/google-translate-api"]
	path = resources/google-translate-api
	url = https://github.com/matheuss/google-translate-api.git
[submodule "resources/translate-shell"]
	path = resources/translate-shell
	url = https://github.com/soimort/translate-shell.git
[submodule "resources/translate-python"]
	path = resources/translate-python
	url = https://github.com/terryyin/translate-python.git
[submodule "resources/python-algorithms"]
	path = resources/python-algorithms
	url = https://gitee.com/aimo-ailearn/python-algorithms.git
[submodule "resources/java-algorithms"]
	path = resources/java-algorithms
	url = https://gitee.com/aimo-ailearn/java-algorithms.git
[submodule "resources/fastai-course-nlp"]
	path = resources/fastai-course-nlp
	url = https://github.com/fastai/course-nlp.git
[submodule "resources/numpy-ml"]
	path = resources/numpy-ml
	url = https://github.com/ddbourgin/numpy-ml.git
[submodule "resources/competition/baseline"]
	path = resources/competition/baseline
	url = https://gitee.com/aimo-ailearn/competition-baseline.git
[submodule "resources/learn-opengl"]
	path = resources/learn-opengl
	url = https://github.com/JoeyDeVries/LearnOpenGL.git
[submodule "resources/triton-tutorial"]
	path = resources/triton-tutorial
	url = https://github.com/triton-inference-server/tutorials.git
[submodule "resources/jetson-infer"]
	path = resources/jetson-infer
	url = https://github.com/dusty-nv/jetson-inference.git
[submodule "resources/llm-action"]
	path = resources/llm-action
	url = https://github.com/liguodongiot/llm-action.git
[submodule "resources/huggingface-blog"]
	path = resources/huggingface-blog
	url = https://github.com/huggingface/blog.git
